.search-filters {
  display: inline-block;
}

.search-container {
  display: flex;
  justify-content: center;
}

.stock-icon {
  padding-right: 4px;
  height: 20px;
}

.dropdown {
  padding-left: 8px;
  padding-right: 8px;
}

.last-dropdown {
  padding-left: 8px;
  padding-right: 16px;
}
