<div class="search-container">
  <div class="search-filters">
    <br />
    <mat-form-field class="dropdown">
      <mat-label>Character</mat-label>
      <mat-select [(value)]="character_filter">
        <mat-option value="Fox">
          <img class="stock-icon" src="../../assets/Fo_N.png" />Fox
        </mat-option>
        <mat-option value="Falco">
          <img class="stock-icon" src="../../assets/Fa_N.png" />Falco
        </mat-option>
        <mat-option value="Marth">
          <img class="stock-icon" src="../../assets/Mt_N.png" />Marth
        </mat-option>
        <mat-option value="Jigglypuff">
          <img class="stock-icon" src="../../assets/Jp_N.png" />Jigglypuff
        </mat-option>
        <mat-option value="Sheik">
          <img class="stock-icon" src="../../assets/Sh_N.png" />Sheik
        </mat-option>
        <mat-option value="Captain Falcon">
          <img class="stock-icon" src="../../assets/Cf_N.png" />Captain Falcon
        </mat-option>
        <mat-option value="Peach">
          <img class="stock-icon" src="../../assets/Pe_N.png" />Peach
        </mat-option>
        <mat-option value="Ice Climbers">
          <img class="stock-icon" src="../../assets/Ic_N.png" />Ice Climbers
        </mat-option>
        <mat-option value="Pikachu">
          <img class="stock-icon" src="../../assets/Pk_N.png" />Pikachu
        </mat-option>
        <mat-option value="Samus">
          <img class="stock-icon" src="../../assets/Sa_N.png" />Samus
        </mat-option>
        <mat-option value="Dr. Mario">
          <img class="stock-icon" src="../../assets/Dm_N.png" />Dr. Mario
        </mat-option>
        <mat-option value="Yoshi">
          <img class="stock-icon" src="../../assets/Yo_N.png" />Yoshi
        </mat-option>
        <mat-option value="Luigi">
          <img class="stock-icon" src="../../assets/Lu_N.png" />Luigi
        </mat-option>
        <mat-option value="Ganondorf">
          <img class="stock-icon" src="../../assets/Ga_N.png" />Ganondorf
        </mat-option>
        <mat-option value="Mario">
          <img class="stock-icon" src="../../assets/Ma_N.png" />Mario
        </mat-option>
        <mat-option value="Young Link">
          <img class="stock-icon" src="../../assets/Yl_N.png" />Young Link
        </mat-option>
        <mat-option value="Donkey Kong">
          <img class="stock-icon" src="../../assets/Dk_N.png" />Donkey Kong
        </mat-option>
        <mat-option value="Link">
          <img class="stock-icon" src="../../assets/Li_N.png" />Link
        </mat-option>
        <mat-option value="Game & Watch">
          <img class="stock-icon" src="../../assets/Gw_N.png" />Game & Watch
        </mat-option>
        <mat-option value="Roy">
          <img class="stock-icon" src="../../assets/Ro_N.png" />Roy
        </mat-option>
        <mat-option value="Mewtwo">
          <img class="stock-icon" src="../../assets/Me_N.png" />Mewtwo
        </mat-option>
        <mat-option value="Ness">
          <img class="stock-icon" src="../../assets/Ne_N.png" />Ness
        </mat-option>
        <mat-option value="Pichu">
          <img class="stock-icon" src="../../assets/Pi_N.png" />Pichu
        </mat-option>
        <mat-option value="Zelda">
          <img class="stock-icon" src="../../assets/Ze_N.png" />Zelda
        </mat-option>
        <mat-option value="Kirby">
          <img class="stock-icon" src="../../assets/Ki_N.png" />Kirby
        </mat-option>
        <mat-option value="Bowser">
          <img class="stock-icon" src="../../assets/Bo_N.png" />Bowser
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="dropdown">
      <mat-label>Opponent</mat-label>
      <mat-select [(value)]="opponent_filter">
        <mat-option value="Any">Any</mat-option>
        <mat-option value="Fox">
          <img class="stock-icon" src="../../assets/Fo_N.png" />Fox
        </mat-option>
        <mat-option value="Falco">
          <img class="stock-icon" src="../../assets/Fa_N.png" />Falco
        </mat-option>
        <mat-option value="Marth">
          <img class="stock-icon" src="../../assets/Mt_N.png" />Marth
        </mat-option>
        <mat-option value="Jigglypuff">
          <img class="stock-icon" src="../../assets/Jp_N.png" />Jigglypuff
        </mat-option>
        <mat-option value="Sheik">
          <img class="stock-icon" src="../../assets/Sh_N.png" />Sheik
        </mat-option>
        <mat-option value="Captain Falcon">
          <img class="stock-icon" src="../../assets/Cf_N.png" />Captain Falcon
        </mat-option>
        <mat-option value="Peach">
          <img class="stock-icon" src="../../assets/Pe_N.png" />Peach
        </mat-option>
        <mat-option value="Ice Climbers">
          <img class="stock-icon" src="../../assets/Ic_N.png" />Ice Climbers
        </mat-option>
        <mat-option value="Pikachu">
          <img class="stock-icon" src="../../assets/Pk_N.png" />Pikachu
        </mat-option>
        <mat-option value="Samus">
          <img class="stock-icon" src="../../assets/Sa_N.png" />Samus
        </mat-option>
        <mat-option value="Dr. Mario">
          <img class="stock-icon" src="../../assets/Dm_N.png" />Dr. Mario
        </mat-option>
        <mat-option value="Yoshi">
          <img class="stock-icon" src="../../assets/Yo_N.png" />Yoshi
        </mat-option>
        <mat-option value="Luigi">
          <img class="stock-icon" src="../../assets/Lu_N.png" />Luigi
        </mat-option>
        <mat-option value="Ganondorf">
          <img class="stock-icon" src="../../assets/Ga_N.png" />Ganondorf
        </mat-option>
        <mat-option value="Mario">
          <img class="stock-icon" src="../../assets/Ma_N.png" />Mario
        </mat-option>
        <mat-option value="Young Link">
          <img class="stock-icon" src="../../assets/Yl_N.png" />Young Link
        </mat-option>
        <mat-option value="Donkey Kong">
          <img class="stock-icon" src="../../assets/Dk_N.png" />Donkey Kong
        </mat-option>
        <mat-option value="Link">
          <img class="stock-icon" src="../../assets/Li_N.png" />Link
        </mat-option>
        <mat-option value="Game & Watch">
          <img class="stock-icon" src="../../assets/Gw_N.png" />Game & Watch
        </mat-option>
        <mat-option value="Roy">
          <img class="stock-icon" src="../../assets/Ro_N.png" />Roy
        </mat-option>
        <mat-option value="Mewtwo">
          <img class="stock-icon" src="../../assets/Me_N.png" />Mewtwo
        </mat-option>
        <mat-option value="Ness">
          <img class="stock-icon" src="../../assets/Ne_N.png" />Ness
        </mat-option>
        <mat-option value="Pichu">
          <img class="stock-icon" src="../../assets/Pi_N.png" />Pichu
        </mat-option>
        <mat-option value="Zelda">
          <img class="stock-icon" src="../../assets/Ze_N.png" />Zelda
        </mat-option>
        <mat-option value="Kirby">
          <img class="stock-icon" src="../../assets/Ki_N.png" />Kirby
        </mat-option>
        <mat-option value="Bowser">
          <img class="stock-icon" src="../../assets/Bo_N.png" />Bowser
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="dropdown">
      <mat-label>Stage</mat-label>
      <mat-select [(value)]="stage_filter">
        <mat-option value="Any">Any</mat-option>
        <mat-option value="Battlefield">Battlefield</mat-option>
        <mat-option value="Dreamland">Dreamland</mat-option>
        <mat-option value="Final Destination">Final Destination</mat-option>
        <mat-option value="Fountain of Dreams">Fountain of Dreams</mat-option>
        <mat-option value="Pokemon Stadium">Pokemon Stadium</mat-option>
        <mat-option value="Battlefield">Yoshi's Island</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="last-dropdown">
      <mat-label>Training Type</mat-label>
      <mat-select [formControl]="training_types" multiple>
        <mat-option *ngFor="let type of training_type_list" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="accent" (click)="search()">
      <mat-icon color="white">search</mat-icon>
    </button>
  </div>
</div>
<div class="table-container">
    <div style="display: inline-block; width: 80%">
      <div style="text-align: left">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
        </mat-form-field>
      </div>
      <mat-table
        [dataSource]="data_source"
        matSort
        class="mat-elevation-z8"
        matSortActive="downloads"
        matSortDirection="desc"
        matSortDisableClear="true"
      >
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
        <mat-cell *matCellDef="let row"><a routerLink="/profile/{{ row.username }}">{{ row.username }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="training_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.training_name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="character">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Character</mat-header-cell>
          <mat-cell *matCellDef="let row"><img class="stock-icon" src='../../assets/{{ row.character }}_N.png'></mat-cell>
        </ng-container>
        <ng-container matColumnDef="opponent">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Opponent</mat-header-cell>
          <mat-cell *matCellDef="let row"><img class="stock-icon" src='../../assets/{{ row.opponent }}_N.png'></mat-cell>
        </ng-container>
        <ng-container matColumnDef="stage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Stage</mat-header-cell>
          <mat-cell *matCellDef="let row"><img class="stage-pic" src='../../assets/{{ row.stage }}.jpg'></mat-cell>
        </ng-container>
        <ng-container matColumnDef="training_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.training_type }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="downloads">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Downloads</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.downloads }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="download-button">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-stroked-button color="accent" (click)="download()"><mat-icon>download</mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns; stick: false"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: columns"
          mat-Ripple
          class="savestate-row"
        ></mat-row>
        <mat-paginator
          [length]="length"
          [pageSize]="page_size"
          [pageSizeOptions]="page_size_options">
        </mat-paginator>
      </mat-table>
    </div>
  </div>
