<br />
<br />
<center>
  <img src="../../assets/savestatelogo.png" alt="" width="50%">
  <br />
  <br />
  <br />
  <br />
  <div class="home-text" style="width: 60%">
      <h2>Welcome to SaveState! This is a site where you can upload, download, and share training lab
      files for <a href="https://www.patreon.com/UnclePunch/posts">UnclePunch's Training Mode</a>.</h2>
      <br />
      <br />
      <h2>Join the <a href="https://discord.gg/r2Hsc3s7FP">Discord</a> to stay up to date on development and announcements.</h2>
      <h3><a routerLink="login">Sign in</a> or <a routerLink="register">Create an account</a></h3>
      <br />
      <br />
      <button mat-stroked-button routerLink="search" color="warn">Get Started</button>
      <br />
      <br />
      <h4>For any issues/questions/comments, please email us at savestategg@gmail.com or contact us via the Discord server!</h4>
      <br />
      <a href="https://paypal.me/savestategg?locale.x=en_US"><button mat-stroked-button color="accent">Support SaveState Development</button></a>
      <br />
      <br />
  </div>
</center>
