<br />
<br />
<div class="upload-container">
  <mat-card>
    <mat-card-title>
      <h2>Upload</h2>
    </mat-card-title>
    <mat-card-subtitle>
      Upload your Uncle Punch .gci file and add the relevant information.
    </mat-card-subtitle>
    <mat-card-content>
      <input
        type="file"
        class="file-upload"
        (change)="fileUploaded($event)"
        #fileUpload
      />
      <div class="select-file">
        {{ file_name || "No file uploaded yet." }}
        <button
          mat-mini-fab
          color="accent"
          class="upload-button"
          (click)="fileUpload.click()"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
      <div class="upload-options">
        <br />
        <mat-form-field class="dropdown">
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Ex: Stomp on Fox at 50%"
            [(ngModel)]="title"
          />
        </mat-form-field>
        <mat-form-field class="dropdown">
          <mat-label>Character</mat-label>
          <mat-select [(value)]="character">
            <mat-option value="Fox">
              <img class="stock-icon" src="../../assets/Fox.png" />Fox
            </mat-option>
            <mat-option value="Falco">
              <img class="stock-icon" src="../../assets/Falco.png" />Falco
            </mat-option>
            <mat-option value="Marth">
              <img class="stock-icon" src="../../assets/Marth.png" />Marth
            </mat-option>
            <mat-option value="Jigglypuff">
              <img
                class="stock-icon"
                src="../../assets/Jigglypuff.png"
              />Jigglypuff
            </mat-option>
            <mat-option value="Sheik">
              <img class="stock-icon" src="../../assets/Sheik.png" />Sheik
            </mat-option>
            <mat-option value="Captain Falcon">
              <img
                class="stock-icon"
                src="../../assets/Captain Falcon.png"
              />Captain Falcon
            </mat-option>
            <mat-option value="Peach">
              <img class="stock-icon" src="../../assets/Peach.png" />Peach
            </mat-option>
            <mat-option value="Ice Climbers">
              <img class="stock-icon" src="../../assets/Ice Climbers.png" />Ice
              Climbers
            </mat-option>
            <mat-option value="Pikachu">
              <img class="stock-icon" src="../../assets/Pikachu.png" />Pikachu
            </mat-option>
            <mat-option value="Samus">
              <img class="stock-icon" src="../../assets/Samus.png" />Samus
            </mat-option>
            <mat-option value="Dr. Mario">
              <img
                class="stock-icon"
                src="../../assets/Doctor Mario.png"
              />Doctor Mario
            </mat-option>
            <mat-option value="Yoshi">
              <img class="stock-icon" src="../../assets/Yoshi.png" />Yoshi
            </mat-option>
            <mat-option value="Luigi">
              <img class="stock-icon" src="../../assets/Luigi.png" />Luigi
            </mat-option>
            <mat-option value="Ganondorf">
              <img
                class="stock-icon"
                src="../../assets/Ganondorf.png"
              />Ganondorf
            </mat-option>
            <mat-option value="Mario">
              <img class="stock-icon" src="../../assets/Mario.png" />Mario
            </mat-option>
            <mat-option value="Young Link">
              <img class="stock-icon" src="../../assets/Young Link.png" />Young
              Link
            </mat-option>
            <mat-option value="Donkey Kong">
              <img
                class="stock-icon"
                src="../../assets/Donkey Kong.png"
              />Donkey Kong
            </mat-option>
            <mat-option value="Link">
              <img class="stock-icon" src="../../assets/Link.png" />Link
            </mat-option>
            <mat-option value="Game & Watch">
              <img class="stock-icon" src="../../assets/Game & Watch.png" />Game
              & Watch
            </mat-option>
            <mat-option value="Roy">
              <img class="stock-icon" src="../../assets/Roy.png" />Roy
            </mat-option>
            <mat-option value="Mewtwo">
              <img class="stock-icon" src="../../assets/Mewtwo.png" />Mewtwo
            </mat-option>
            <mat-option value="Ness">
              <img class="stock-icon" src="../../assets/Ness.png" />Ness
            </mat-option>
            <mat-option value="Pichu">
              <img class="stock-icon" src="../../assets/Pichu.png" />Pichu
            </mat-option>
            <mat-option value="Zelda">
              <img class="stock-icon" src="../../assets/Zelda.png" />Zelda
            </mat-option>
            <mat-option value="Kirby">
              <img class="stock-icon" src="../../assets/Kirby.png" />Kirby
            </mat-option>
            <mat-option value="Bowser">
              <img class="stock-icon" src="../../assets/Bowser.png" />Bowser
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dropdown">
          <mat-label>Opponent</mat-label>
          <mat-select [(value)]="opponent">
            <mat-option value="Fox">
              <img class="stock-icon" src="../../assets/Fox.png" />Fox
            </mat-option>
            <mat-option value="Falco">
              <img class="stock-icon" src="../../assets/Falco.png" />Falco
            </mat-option>
            <mat-option value="Marth">
              <img class="stock-icon" src="../../assets/Marth.png" />Marth
            </mat-option>
            <mat-option value="Jigglypuff">
              <img
                class="stock-icon"
                src="../../assets/Jigglypuff.png"
              />Jigglypuff
            </mat-option>
            <mat-option value="Sheik">
              <img class="stock-icon" src="../../assets/Sheik.png" />Sheik
            </mat-option>
            <mat-option value="Captain Falcon">
              <img
                class="stock-icon"
                src="../../assets/Captain Falcon.png"
              />Captain Falcon
            </mat-option>
            <mat-option value="Peach">
              <img class="stock-icon" src="../../assets/Peach.png" />Peach
            </mat-option>
            <mat-option value="Ice Climbers">
              <img class="stock-icon" src="../../assets/Ice Climbers.png" />Ice
              Climbers
            </mat-option>
            <mat-option value="Pikachu">
              <img class="stock-icon" src="../../assets/Pikachu.png" />Pikachu
            </mat-option>
            <mat-option value="Samus">
              <img class="stock-icon" src="../../assets/Samus.png" />Samus
            </mat-option>
            <mat-option value="Dr. Mario">
              <img
                class="stock-icon"
                src="../../assets/Doctor Mario.png"
              />Doctor Mario
            </mat-option>
            <mat-option value="Yoshi">
              <img class="stock-icon" src="../../assets/Yoshi.png" />Yoshi
            </mat-option>
            <mat-option value="Luigi">
              <img class="stock-icon" src="../../assets/Luigi.png" />Luigi
            </mat-option>
            <mat-option value="Ganondorf">
              <img
                class="stock-icon"
                src="../../assets/Ganondorf.png"
              />Ganondorf
            </mat-option>
            <mat-option value="Mario">
              <img class="stock-icon" src="../../assets/Mario.png" />Mario
            </mat-option>
            <mat-option value="Young Link">
              <img class="stock-icon" src="../../assets/Young Link.png" />Young
              Link
            </mat-option>
            <mat-option value="Donkey Kong">
              <img
                class="stock-icon"
                src="../../assets/Donkey Kong.png"
              />Donkey Kong
            </mat-option>
            <mat-option value="Link">
              <img class="stock-icon" src="../../assets/Link.png" />Link
            </mat-option>
            <mat-option value="Game & Watch">
              <img class="stock-icon" src="../../assets/Game & Watch.png" />Game
              & Watch
            </mat-option>
            <mat-option value="Roy">
              <img class="stock-icon" src="../../assets/Roy.png" />Roy
            </mat-option>
            <mat-option value="Mewtwo">
              <img class="stock-icon" src="../../assets/Mewtwo.png" />Mewtwo
            </mat-option>
            <mat-option value="Ness">
              <img class="stock-icon" src="../../assets/Ness.png" />Ness
            </mat-option>
            <mat-option value="Pichu">
              <img class="stock-icon" src="../../assets/Pichu.png" />Pichu
            </mat-option>
            <mat-option value="Zelda">
              <img class="stock-icon" src="../../assets/Zelda.png" />Zelda
            </mat-option>
            <mat-option value="Kirby">
              <img class="stock-icon" src="../../assets/Kirby.png" />Kirby
            </mat-option>
            <mat-option value="Bowser">
              <img class="stock-icon" src="../../assets/Bowser.png" />Bowser
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dropdown">
          <mat-label>Stage</mat-label>
          <mat-select [(value)]="stage">
            <mat-option value="Battlefield">Battlefield</mat-option>
            <mat-option value="Dreamland">Dreamland</mat-option>
            <mat-option value="Final Destination">Final Destination</mat-option>
            <mat-option value="Fountain of Dreams"
              >Fountain of Dreams</mat-option
            >
            <mat-option value="Pokemon Stadium">Pokemon Stadium</mat-option>
            <mat-option value="Battlefield">Yoshi's Island</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dropdown">
          <mat-label>Training Type</mat-label>
          <mat-select [formControl]="training_type">
            <mat-option
              *ngFor="let type of training_type_list"
              [value]="type"
              >{{ type }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="last-dropdown">
          <mat-label>Training Mode Version</mat-label>
          <mat-select [formControl]="version">
            <mat-option
              *ngFor="let version of version_list"
              [value]="version"
              >{{ version }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <br /><br />
        <mat-form-field class="dropdown" style="width: 50%">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Write a description! How to use the savestate, a description of the different slots, etc."
            [(ngModel)]="description"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="upload()">
        UPLOAD
      </button>
    </mat-card-actions>
    <div class="upload-succeeded" *ngIf="upload_successful">
      <br />
      <center><h4>Upload successful!</h4></center>
    </div>
    <div class="upload-failed" *ngIf="upload_unsuccessful">
      <br />
      <center><h4>Whoops, something went wrong! Please try again.</h4></center>
    </div>
  </mat-card>
</div>
