.file-upload {
  display: none;
}

.search-filters {
  display: inline-block;
}

.upload-container {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 74%;
}

.table-container {
  display: flex;
  justify-content: center;
}

.stock-icon {
  padding-right: 4px;
  height: 20px;
}

.stage-pic {
  padding-right: 4px;
  height: 70px;
}

.dropdown {
  padding-left: 8px;
  padding-right: 8px;
}

.last-dropdown {
  padding-left: 8px;
  padding-right: 16px;
}

.mat-cell {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.mat-column-character {
flex: 0 0 7% !important;
  justify-content: center;
}

.mat-column-opponent {
  flex: 0 0 7% !important;
  justify-content: center;
}

.mat-column-stage {
  justify-content: center;
}

.mat-column-training_type {
  justify-content: center;
}

.mat-column-downloads {
  justify-content: center;
}

.mat-column-training_name {
  flex: 0 0 40% !important;
}

.mat-column-download-button {
  // padding-left: 40px;
  flex: 0 0 5% !important;
}

mat-card-actions {
  padding-left: 8px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
